VITE_API_URL=https://hemodinks-api-confirmation.onrender.com
VITE_APP_ENV=confirmation
VITE_APP_VERSION=confirmation
VITE_NEW_RELIC_ACCOUNT_ID=
VITE_NEW_RELIC_AGENT_ID=
VITE_NEW_RELIC_APPLICATION_ID=
VITE_NEW_RELIC_LICENSE_KEY=
VITE_NEW_RELIC_TRUST_KEY=
VITE_SENTRY_DSN=https://0bd1835d0df28dfbe9744676f22d1d27@o4511548077965312.ingest.us.sentry.io/4511548579840000
VITE_SENTRY_TRACES_SAMPLE_RATE=0
